[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
tensorflow = "==1.12.0"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.6"
